.info-popout-trigger {
  --info-popout-icon-background: gray;
  --info-popout-icon-fill: #fff;
  .btn-content {
    border-radius: 50%;
    background: var(--info-popout-icon-background);
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  svg {
    fill: var(--info-popout-icon-fill);
    margin: 0;
    height: 10px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  .info-popout-trigger {
    position: relative;
    top: -12px;
  }
}
.info-popout-content {
  margin-left: -10px;
}
